<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>QWERTY.com</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <div >
        <h1><span class="highlight">QWERTY Company</span></h1>
    </div>
    <a href="/registration" class="floating-button" id="auth">Sign in</a>
    <a href="/sign_in?to=1" class="floating-button" id="auth_1">Login</a>

</header>
<section>
    <div>
        <h1>Добро пожаловать на сайт QWERTY Company</h1>
        <p>Здесь вы можете найти много интересного!</p>

    </div>


{% if signed_user %}
<p>Привет, {{signed_user.name}}!</p>
<a href="/sign_in?to=0">Выйти</a>
<a href="/profile?user_id={{signed_user.id}}"> Профиль </a>
{% else %}
<p></p>
{% endif %}

<div class="container">
    <section class="toc-wrapper">
        <h1>Темы(всего тем: {{l}}):</h1>
             {% if topic_dict %}
        <ol class="toc">
        {% for topic in topic_dict %}
            <li>
                <div>
                    <p><a href="/topic?topic_id={{topic.id}}">{{ topic.name }}</a> <a
                     href="/profile?user_id={{topic.user_id}}"> (by
                    {{topic_dict[topic].name}})</a></p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% else %}
<p>No topics are available.</p>
{% endif %}

{% if signed_user %}
<form action="post_topic" method="post">
    <p><b>Введите тему:</b></p>
    <p><textarea name="topic_name"></textarea></p>
    <p><input type="hidden" name="user_id" value="{{signed_user.id}}">
    <p><input type="submit"></p>
</form>

{% else %}
<p></p>
{% endif %}

</body>
</html>