<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>QWERTY.com</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/style1.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <div >
        <h1><span class="highlight">QWERTY Company</span></h1>
    </div>

    {% if signed_user %}
    <a href="/sign_in?to=0" class="floating-button" id="auth">Log out</a>
    <a href="/profile?user_id={{signed_user.id}}" class="floating-button" id="auth_1"> Profile </a>
    {% else %}
    <a href="/registration" class="floating-button" id="auth">Sign in</a>
    <a href="/sign_in?to=1" class="floating-button" id="auth_1">Login</a>
    {% endif %}

</header>
<section>
    <div class="hello">
        <h1>Welcome to QWERTY Company</h1>
        <p>Here you can find lots of intresting!</p>
    </div>


{% if signed_user %}
<p>signed_user</p>
<div class="signed_user">
    <form action="post_topic" method="post">
        <p><b>Type name of your topic:</b></p>
        <p><textarea name="topic_name" placeholder="Type here"></textarea></p>
        <p><input type="hidden" name="user_id" value="{{signed_user.id}}">
        <p><input type="submit"></p>
    </form>
{% else %}
    <p></p>
{% endif %}
</div>

<div class="container">
    <section class="toc-wrapper">
        <h1 class="theme">Topics (total: {{l}}):</h1>
             {% if topic_dict %}
        <ul class="toc">
        {% for topic in topic_dict %}
            <li>
                <div>
                    <p><a href="/topic?topic_id={{topic.id}}">{{ topic.name }}</a> <a
                     href="/profile?user_id={{topic.user_id}}">({{topic.message_count}} replies)</a></p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% else %}
<p>No topics are available.</p>
{% endif %}

</body>
</html>