<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>QWERTY.com</title>
</head>
<body>
<div>
    <a href="/">Назад</a>
</div>

<form action="post_user" method="post">
    <p><b>Email:</b></p>
    <p><textarea name="user_email"></textarea></p>
    <p><b>Password:</b></p>
    <p><textarea name="user_password1"></textarea></p>
    <p><b>Repeat password:</b></p>
    <p><textarea name="user_password2"></textarea></p>
    <p><b>Name:</b></p>
    <p><textarea name="user_name"></textarea></p>
    <p><b>Surname:</b></p>
    <p><textarea name="user_surname"></textarea></p>
    <p><input type="submit"></p>
</form>

</body>
</html>